
.blank{
    border-bottom : thin solid black;
    }
    .box{
    border : thin solid black;
    padding : 5px;
    }
    @media print {
        .page-break {page-break-before: always;}
    }
    div {
    font-size : 12px;
    }
